section {
    background-color: orange;
    padding: 2rem;
    color: rgb(51, 4, 4);
    font-family: cursive;
  }
  
img {
    height:400 px;
    width:300 px;
}

  a {
    color: maroon;
  }
  
  a: hover {
    color: green;
  }
  
  a: visited {
    color: brown;
  }
  
  .poem {
    background-color: red;
    font-family: arial;
    padding: 2rem
  }
  
  marquee {
    color: brown;
    font-family: arial;
  }

  h1 {
      font-family:'Courier New', Courier, monospace;
  }