section {
    background-color: orange;
    padding: 2rem;
    color: red;
    font-family: segoe-script;
  }
  
  a {
    color: maroon;
  }
  
  a: hover {
    color: green;
  }
  
  a: visited {
    color: brown;
  }
  
  .poem {
    background-color: red;
    font-family: arial;
    padding: 2rem
  }
  
  marquee {
    color: brown;
    font-family: arial;
  }